@model Microgreens.Models.Yields

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Yields</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Yield" class="control-label"></label>
                <input asp-for="Yield" class="form-control" />
                <span asp-validation-for="Yield" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPerTray" class="control-label"></label>
                <input asp-for="CostPerTray" class="form-control" />
                <span asp-validation-for="CostPerTray" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductsId" class="control-label"></label>
                <select asp-for="ProductsId" class="form-control" asp-items=@((IEnumerable<SelectListItem>)ViewData["ProductId"])></select>
            </div>
            <div class="form-group">
                <label asp-for="DateIn" class="control-label"></label>
                <input asp-for="DateIn" class="form-control" />
                <span asp-validation-for="DateIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOut" class="control-label"></label>
                <input asp-for="DateOut" class="form-control" />
                <span asp-validation-for="DateOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
